:root {
  --primary-font: "Inter";
}

body {
  font-family: var(--primary-font);
  margin: 30px 120px;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.head {
  background-color: #e6d9cb;

  .main-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='317' height='96' viewBox='0 0 317 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.34375 24.3672V16H41.7656V24.3672H27.0703V64H17.0391V24.3672H2.34375Z' fill='black'/%3E%3Cpath d='M89 20V60H49V20H89Z' stroke='black' stroke-width='8'/%3E%3Cpath d='M184 20V60H144V20H184Z' stroke='black' stroke-width='8'/%3E%3Cpath d='M113.188 64H96.1719V16H113.328C118.156 16 122.313 16.9609 125.797 18.8828C129.281 20.7891 131.961 23.5312 133.836 27.1094C135.727 30.6875 136.672 34.9687 136.672 39.9531C136.672 44.9531 135.727 49.25 133.836 52.8437C131.961 56.4375 129.266 59.1953 125.75 61.1172C122.25 63.0391 118.063 64 113.188 64ZM106.32 55.3047H112.766C115.766 55.3047 118.289 54.7734 120.336 53.7109C122.398 52.6328 123.945 50.9687 124.977 48.7187C126.023 46.4531 126.547 43.5313 126.547 39.9531C126.547 36.4062 126.023 33.5078 124.977 31.2578C123.945 29.0078 122.406 27.3516 120.359 26.2891C118.313 25.2266 115.789 24.6953 112.789 24.6953H106.32V55.3047Z' fill='black'/%3E%3Cpath d='M194.172 64V16H204.32V55.6328H224.898V64H194.172ZM231.432 64V28H241.416V64H231.432ZM236.447 23.3594C234.963 23.3594 233.689 22.8672 232.627 21.8828C231.58 20.8828 231.057 19.6875 231.057 18.2969C231.057 16.9219 231.58 15.7422 232.627 14.7578C233.689 13.7578 234.963 13.2578 236.447 13.2578C237.932 13.2578 239.197 13.7578 240.244 14.7578C241.307 15.7422 241.838 16.9219 241.838 18.2969C241.838 19.6875 241.307 20.8828 240.244 21.8828C239.197 22.8672 237.932 23.3594 236.447 23.3594ZM279.367 38.2656L270.227 38.8281C270.07 38.0469 269.734 37.3437 269.219 36.7187C268.703 36.0781 268.023 35.5703 267.18 35.1953C266.352 34.8047 265.359 34.6094 264.203 34.6094C262.656 34.6094 261.352 34.9375 260.289 35.5937C259.227 36.2344 258.695 37.0937 258.695 38.1719C258.695 39.0312 259.039 39.7578 259.727 40.3516C260.414 40.9453 261.594 41.4219 263.266 41.7812L269.781 43.0937C273.281 43.8125 275.891 44.9687 277.609 46.5625C279.328 48.1562 280.188 50.25 280.188 52.8437C280.188 55.2031 279.492 57.2734 278.102 59.0547C276.727 60.8359 274.836 62.2266 272.43 63.2266C270.039 64.2109 267.281 64.7031 264.156 64.7031C259.391 64.7031 255.594 63.7109 252.766 61.7266C249.953 59.7266 248.305 57.0078 247.82 53.5703L257.641 53.0547C257.938 54.5078 258.656 55.6172 259.797 56.3828C260.938 57.1328 262.398 57.5078 264.18 57.5078C265.93 57.5078 267.336 57.1719 268.398 56.5C269.477 55.8125 270.023 54.9297 270.039 53.8516C270.023 52.9453 269.641 52.2031 268.891 51.625C268.141 51.0312 266.984 50.5781 265.422 50.2656L259.188 49.0234C255.672 48.3203 253.055 47.1016 251.336 45.3672C249.633 43.6328 248.781 41.4219 248.781 38.7344C248.781 36.4219 249.406 34.4297 250.656 32.7578C251.922 31.0859 253.695 29.7969 255.977 28.8906C258.273 27.9844 260.961 27.5313 264.039 27.5313C268.586 27.5313 272.164 28.4922 274.773 30.4141C277.398 32.3359 278.93 34.9531 279.367 38.2656ZM305.623 28V35.5H283.943V28H305.623ZM288.865 19.375H298.85V52.9375C298.85 53.8594 298.99 54.5781 299.271 55.0937C299.553 55.5937 299.943 55.9453 300.443 56.1484C300.959 56.3516 301.553 56.4531 302.225 56.4531C302.693 56.4531 303.162 56.4141 303.631 56.3359C304.1 56.2422 304.459 56.1719 304.709 56.125L306.279 63.5547C305.779 63.7109 305.076 63.8906 304.17 64.0938C303.264 64.3125 302.162 64.4453 300.865 64.4922C298.459 64.5859 296.35 64.2656 294.537 63.5312C292.74 62.7969 291.342 61.6562 290.342 60.1094C289.342 58.5625 288.85 56.6094 288.865 54.25V19.375Z' fill='black'/%3E%3Cpath d='M83 27L69.0844 53.2208C68.4803 54.359 66.9733 54.6373 66.0026 53.79L54.9346 44.1292' stroke='black' stroke-width='7' stroke-linecap='round'/%3E%3Cpath d='M150.543 26L177.457 53.6945' stroke='black' stroke-width='7' stroke-linecap='round'/%3E%3Cpath d='M150.82 54L177.457 26' stroke='black' stroke-width='7' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    width: 12rem;
    height: 2rem;
    background-size: cover;
    padding-top: 1rem;
    margin-left: 1rem;
  }
}

.add-task {
  display: flex;
  justify-content: center;

  .add-task__task-input-wrap {
    background-color: #f3efee;
    border-radius: 10px;
    width: 25%;
    padding: 1rem;
    max-height: fit-content;

    .add-task__task-textarea {
      background-color: #f3efee;
      border: none;
      outline: none;
      resize: vertical;
      overflow-y: hidden;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      height: 30%;
    }
  }
  .add-task__add-button {
    font-size: 16px;
    margin-left: 1rem;
    background-color: #393433;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    max-height: fit-content;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.task {
  display: flex;
  background-color: #f3efee;
  margin-top: 1rem;
  border-radius: 10px;

  .task__text {
    margin: 1rem;
    word-break: break-all;
  }

  .task__check-mark-container {
    border-radius: 5px;
    transform: scale(1.5);
    margin: 1rem;

    &:hover {
      cursor: pointer;
    }
  }

  .task__check-mark-container.checked {
    background-color: green;
  }
}
